html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 380px;
    min-height: 280px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ecf0f1;
}

.main-menu, .sub-menu {
    width: 200px;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #2980b9;
}

a {
    color: white;
    text-decoration: none;
}

.main-menu > li  {
    padding: 10px 15px;
    border-bottom: solid 2px #2C3E50;
}

.main-menu > li.opened:hover  {
    position: relative;
    background: #1ABC9C;
}

.main-menu .sub-menu {
    display: none;
    position: absolute;
    left: 180px;
    top: 0;
    background: #1ABC9C;
}

.main-menu .sub-menu li {
    padding: 10px 15px;
    border-bottom: solid 2px #2ECC71;
}

.main-menu > li.opened:hover .sub-menu  {
    display: block;
}
    